<TABLE>
<TR  bgcolor="#C0C0C0">
<TH>Hierarchy</TH>
<TH>Input</TH>
<TH>Constant Input</TH>
<TH>Unused Input</TH>
<TH>Floating Input</TH>
<TH>Output</TH>
<TH>Constant Output</TH>
<TH>Unused Output</TH>
<TH>Floating Output</TH>
<TH>Bidir</TH>
<TH>Constant Bidir</TH>
<TH>Unused Bidir</TH>
<TH>Input only Bidir</TH>
<TH>Output only Bidir</TH>
</TR>
<TR >
<TD >ALU8|auto_generated</TD>
<TD >950</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >475</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >ALU7|auto_generated</TD>
<TD >951</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >475</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >ALU6|auto_generated</TD>
<TD >950</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >475</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >ALU5|auto_generated</TD>
<TD >956</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >478</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >ALU4|auto_generated</TD>
<TD >956</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >478</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >ALU3|auto_generated</TD>
<TD >956</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >478</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >ALU2|auto_generated</TD>
<TD >956</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >478</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >ALU|auto_generated</TD>
<TD >950</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >475</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
</TABLE>
